#gridProducts{
    width: 85%;
}
ul.nav{
    padding-left: 22%;
    padding-top: 7%;
    font-size: 2.2em;
    font-weight: bold;
}
.card{
    background-color: #33364d;
    color: #109e92;
}
#categories{
    width:80%;
    padding-left: 5%;
    padding-top: 2.5%;
}